<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="./../static/styles.css">

        <title>Crotchet Pattern Generator</title>
    </head>

    <body class="page-bg">
        <div class="container text-center">
            <h1 class="m-4">Crotchet Pattern Generator</h1>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <img src="./../static/images/bee.png" alt="Example amigurumi of bee" 
                    class="bee-img col-8"
                >
                
                <div class="col-4 d-flex flex-column">
                    <p>This is a simple application that allows you to upload an image of an object that
                        you want to have a crochet pattern generated for in an amigurumi style!
                    </p>
                    
                    <div class="mt-auto">
                        <h4>Upload an image to get started!</h4>
                        <form>
                            <input type="file" class="form-control mb-3">
                            <button type="submit" class="btn btn-primary">Generate Pattern</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

    </body>
</html>